.button--green {
    @include styleButton($color-green-0, transparent, $color-green-0, $fs-0, $fw-0, $pd-0 - 2, $pd-1);
    &:hover {
        @include hoverButton($color-white-0, $color-green-0, $color-green-0);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.button--green1 {
    @include styleButton($color-green-2, transparent, $color-green-2, $fs-0, $fw-0, $pd-6 + 2, $pd-1 + 4);
    font-size: $fs-1;
    font-weight: $fw-1;
    &:hover {
        @include hoverButton($color-white-0, $color-green-4, $color-green-4);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
.button--green2 {
    @include styleButton($color-white-0, $color-green-0, $color-green-0, $fs-0, $fw-0, $pd-6 + 2, $pd-1 + 4);
    font-size: $fs-1;
    font-weight: $fw-1;
    &:hover {
        @include hoverButton($color-white-0, $color-green-3, $color-green-3);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
}
