* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: $fs-0;
    line-height: $line-height-0;
    color: $color-gray-0;
    background-color: $color-white-0;
}
hr {
    height: 4px;
    width: 100%;
    color: $color-gray-1;
}
